@import "tailwindcss";


:root {
  --container-width: 82rem;

}

@theme {
  --grid-template-columns-24: repeat(24, minmax(0, 1fr));

  --font-sans: var(--font-chip-text), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-chip-display), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-chip-mono), ui-monospace, SFMono-Regular, monospace;
  --color-border-secondary: #ECEAEB;
  --color-purple: #D5ABFF;
  --color-plumPurple: #7023FF;
}